.sidebar {
  min-height: 100vh;
  width: 300px;
  /* position: fixed; */
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  padding-top: 60px;
  transition: 0.5s;
  overflow-x: hidden;
  padding-top: 60px;
  white-space: nowrap;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .material-symbols-outlined,
.sidebar .icon-text {
  vertical-align: middle;
  margin-right: 30px;
}

.sidebar .material-symbols-outlined {
  margin-right: 30px;
}

.mini {
  width: 85px;
}
